- jobs.each do |job|
  %a.list-group-item.list-group-item-action.flex-column.align-items-start{:href => "#{job_url(job.id)}"}
    .d-flex.w-100.justify-content-between
      %h5.mb-1= job.title
      %small= job.created_at.strftime("%Y/%m/%d")
    - job.skills.each do |skill|
      %span.badge.badge-primary= skill.name
    / <p class="mb-1"><haml_loud> job.detail </haml_loud></p>
