%h4 統計データ
.pc_chart
  = high_chart("skill_amount_bar", skill_amount_bar) 
.sp_chart
  = high_chart("skill_amount_bar_sp", skill_amount_bar_sp) 
.pc_chart
  = high_chart("skill_average_rewards_bar", skill_average_rewards_bar) 
.sp_chart
  = high_chart("skill_average_rewards_bar_sp", skill_average_rewards_bar_sp) 
